on:
  push:
    branches: [main]

name: Release

jobs:
  create_release:
    name: Create release
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Bump Cargo Version
        run: |
          cargo install cargo-edit
          cargo set-version --bump patch
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add Cargo.toml
          git commit -m "chore: bump version"
          git push
          VERSION=$(grep -m1 'version = ' Cargo.toml | cut -d '"' -f2)
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
          echo "Detected version: $VERSION"
      - name: Check if tag exists
        id: check_tag
        run: |
          if git rev-parse "v$VERSION" >/dev/null 2>&1; then
            echo "TAG_EXISTS=true" >> $GITHUB_OUTPUT
          else
            echo "TAG_EXISTS=false" >> $GITHUB_OUTPUT
          fi
        env:
          VERSION: ${{ env.VERSION }}
      - name: Create release
        if: steps.check_tag.outputs.TAG_EXISTS == 'false'
        id: create_release
        uses: actions/create-release@v1
        env:
          TOKEN: ${{ secrets.TOKEN }}
        with:
          tag_name: v${{ env.VERSION }}
          release_name: Release v${{ env.VERSION }}
          draft: false
          prerelease: false

  release_assets:
    name: Release assets
    needs: create_release
    runs-on: ${{ matrix.config.os }}
    strategy:
      matrix:
        config:
          - os: ubuntu-22.04
            target: x86_64-unknown-linux-gnu
            short: linux-amd64
          - os: macos-13
            target: x86_64-apple-darwin
            short: darwin-amd64
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            short: windows-amd64
            extension: .exe
          - os: macos-14
            target: aarch64-apple-darwin
            short: darwin-arm64
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: ${{ matrix.config.target }}
          default: true
          override: true
      - run: cargo build --release --target ${{ matrix.config.target }}
      - run: strip target/${{ matrix.config.target }}/release/jtime${{ matrix.config.extension }}
        if: runner.os != 'Windows'
      - run: mv target/${{ matrix.config.target }}/release/jtime${{ matrix.config.extension }} target/${{ matrix.config.target }}/release/jtime-${{ matrix.config.short }}${{ matrix.config.extension }}
      - run: tar -czf target/${{ matrix.config.target }}/release/jtime-${{ matrix.config.short }}.tar.gz -C target/${{ matrix.config.target }}/release jtime-${{ matrix.config.short }}${{ matrix.config.extension }}

      - name: Upload release assets
        uses: actions/upload-release-asset@v1
        env:
          TOKEN: ${{ secrets.TOKEN }}
        with:
          upload_url: ${{ needs.create_release.outputs.upload_url }}
          asset_name: jtime-${{ matrix.config.short }}.tar.gz
          asset_path: target/${{ matrix.config.target }}/release/jtime-${{ matrix.config.short }}.tar.gz
          asset_content_type: application/tar+gzip
